[Unit]
Description=Waggle API server
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/waggle
EnvironmentFile=/home/ubuntu/waggle-secrets/app.env
Environment=AWS_REGION="${AWS_REGION}"
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/waggle/waggle server run --host 127.0.0.1 --port 7379 --config /home/ubuntu/waggle-secrets/config.json
SyslogIdentifier=waggle

[Install]
WantedBy=multi-user.target
